@model Tech_In.Models.Database.Job

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Job</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.vacancies)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.vacancies)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MinSalary)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MinSalary)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaxSalary)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaxSalary)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MinExpereince)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MinExpereince)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaxExpereince)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaxExpereince)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Qualification)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Qualification)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PostDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PostDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JobType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JobType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JobShift)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JobShift)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City.CityId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Company.About)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
