@model Tech_In.Models.Database.Job

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="blog" class="section md-padding">

    <!-- Container -->
    <div class="container">

        <!-- Row -->
        <div class="row">
            <!-- Main -->
            <main id="main" class="col-md-9">
                <div class="job">
                    <div class="blog-content">
                        <h3>@Html.DisplayFor(model => model.Title)</h3>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><h6>Experience</h6></td>
                                    <td>@Html.DisplayFor(model => model.MinExpereince) - @Html.DisplayFor(model => model.MaxExpereince)</td>
                                    <td><h6>Qualification</h6></td>
                                    <td> @Html.DisplayFor(model => model.Qualification)</td>
                                </tr>
                                <tr>
                                    <td><h6>Job Shift</h6></td>
                                    <td>@Html.DisplayFor(model => model.JobShift)</td>
                                    <td><h6>Job Type</h6></td>
                                    <td>@Html.DisplayFor(model => model.JobType)</td>
                                </tr>
                                <tr>

                                    <td><h6>Post Date</h6></td>
                                    <td>@Html.DisplayFor(model => model.PostDate)</td>
                                    <td><h6>End Date</h6></td>
                                    <td>@Html.DisplayFor(model => model.EndDate)</td>
                                </tr>
                            </tbody>
                        </table>


                        <p>
                            @Html.Raw(Model.Description)
                        </p>
                    </div>

                    <div class="blog-tags">
                        <ul style="margin-bottom:4px;" class="blog-meta">
                            <li>
                                <i class="fa fa-envelope"></i> @Html.DisplayFor(modelItem => modelItem.MinExpereince) - @Html.DisplayFor(modelItem => modelItem.MaxExpereince) Years
                            </li>
                            <li>
                                <i class="fa fa-clock-o"></i> @Html.DisplayFor(modelItem => modelItem.PostDate)
                            </li>
                            <li>
                                <i class="fa fa-dollar"></i>@Html.DisplayFor(modelItem => modelItem.MinSalary) - @Html.DisplayFor(modelItem => modelItem.MaxSalary)
                            </li>
                        </ul>
                    </div>
            </main>
            <!-- /Main -->
            <!-- Aside -->
            <aside id="aside" class="col-md-3">
                <!-- Posts sidebar -->
                <div class-"col-md-3">
                    <a asp-route-id="@Model.Id" asp-action="ApplyForJob" class="main-btn btn-block" style="margin-bottom:2em; padding:1em;text-align:center;"> Apply </a>
                    @if (ViewBag.IsSaved)
                    {
                        <a asp-action="UnSaveJob" asp-route-id="@Model.Id" class="main-btn btn-block" style="margin-bottom:2em; padding:1em;text-align:center;"> Un Save </a>
                    }
                    else
                    {
                        <a asp-action="SaveJob" asp-route-id="@Model.Id" class="main-btn btn-block" style="margin-bottom:2em; padding:1em;text-align:center;"> Save </a>
                    }
                    </div>

</aside>
            <!-- /Aside -->

        </div>
        <!-- /Row -->

    </div>
    <!-- /Container -->

</div>
<!-- /Blog -->