@model IEnumerable<Tech_In.Models.Database.Job>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="job" class="section md-padding">
    <!-- Container -->
    <div class="container">
        <!-- Row -->

        <div class="row">

            <div class="col-md-9">
                @foreach (var item in Model)
                {
                    <div style="margin-bottom:2%;" class="row">
                        <div class="blog">
                            <img style="align-content:flex-start;float:left;height:75px;width:75px;" src="@item.Company.Logo" />
                            <div class="col-sm-8" style="cursor: pointer;">

                                <h3 style="margin-bottom:0px;">@Html.DisplayFor(modelItem => item.Title)</h3>
                                <h4 style="margin-bottom:0px;">@Html.DisplayFor(modelItem => item.Company.Title)</h4>
                                <ul style="margin-bottom:4px;" class="blog-meta">
                                    <li>
                                        <i class="fa fa-envelope"></i>
                                        @Html.DisplayFor(modelItem => item.MinExpereince) - @Html.DisplayFor(modelItem => item.MaxExpereince) Years
                                    </li>
                                    <li>
                                        <i class="fa fa-clock-o"></i>
                                        @Html.DisplayFor(modelItem => item.PostDate)
                                    </li>
                                    <li>
                                        <i class="fa fa-dollar"></i>
                                        @Html.DisplayFor(modelItem => item.MinSalary) - @Html.DisplayFor(modelItem => item.MaxSalary)
                                    </li>
                                </ul>

                                <div style="word-wrap:break-word;overflow:hidden;text-overflow:ellipsis;max-height:150px;">
                                    @Html.Raw(item.Description) ...
                                </div>
                                <a asp-action="Details" asp-route-id="@item.Id">Read more</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <!-- Aside -->
            <aside id="aside" class="col-md-3">

                <button onclick="location.href='@Url.Action("Create", "Job")'" style="margin-bottom:2em; padding:1em;" class="main-btn btn-block">
                    Post a Job
                </button>
                <!-- Search -->
                <div class="widget">
                    <div class="widget-search">
                        <input class="search-input" type="text" placeholder="search jobs">
                        <button class="search-btn" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
                <!-- /Search -->

            </aside>
            <!-- /Aside -->

        </div>
        <!-- /Row -->

    </div>
    <!-- /Container -->

</div>
<!-- /job -->
