@model Tech_In.Models.ViewModels.ArticleViewModels.SingleArticleVM
@{
    ViewData["Title"] = "ArticleSingle";
}
<!-- Blog -->
<div id="blog" class="section md-padding">
    <!-- Container -->
    <div class="container">
        <!-- Row -->
        <div class="row">
            <!-- Main -->
            <main id="main" class="col-md-9">
                <div class="blog">
                    <div class="blog-img">
                        <img class="img-responsive" style="height:450px;width:100%;" src="@Model.ArticleImg" alt="">
                    </div>
                    <div class="blog-content">
                        <ul class="blog-meta">
                            <li>
                                <i class="fa fa-user"  title="Author"></i>@Model.AuthorName
                            </li>
                            <li>
                                <i class="fa fa-clock-o" title="Time Article Posted"></i>@Model.CreateTime.ToString("MMM dd,yyyy hh:mm tt")
                            </li>
                            <li>
                                <i class="fa fa-comments" title="Total Comments"></i>@Model.CommentsCount
                            </li>
                            <li>
                                <i class="fa fa-eye" title="Article Visitors"></i>@Model.VisitorsCount
                            </li>
                        </ul>
                        <h3>@Model.Title</h3>
                        <div style="word-wrap: break-word;">
                            @Html.Raw(Model.ArticleBody)
                        </div>

                    </div>
                    <!-- blog tags -->
                    <div class="blog-tags">
                        <h5>Tags :</h5>
                        @foreach (var tag in Model.Tags)
    {
                    <a href="/Articles/SearchByTag/@tag.SkillTagId">
                        <i class="fa fa-tag"></i>@tag.SkillName
                    </a>
}
                    </div>
                    <!-- blog tags -->
                    <!-- blog author -->
                    <div class="blog-author">
                        <div class="media">
                            <div class="media-left">
                                <img style="height:130px;" class="media-object" src="@Model.AuthorImg" alt="">
                            </div>
                            <div class="media-right">
                                <div class="media-heading">
                                    <h3><a style="color: black;text-decoration: none;" href="/User/@Model.AuthorId">@Model.AuthorName</a></h3>
                                </div>
                                <p>@if (Model.AuthorSummary != null)
                                {
                                    @Model.AuthorSummary
                                }
                                else { 
                                    @:No Informaton Found about author!
                                }</p>
                            </div>
                        </div>
                    </div>
                    <!-- /blog author -->
                    @*@Html.Partial("Comments");*@
                    <!-- blog comments -->
                    <div id="comments">

                    </div>
                    <!-- /blog comments -->
                    <!-- reply form -->
                        @Html.Partial("_AddCommentPartial",new Tech_In.Models.ViewModels.ArticleViewModels.AddCommentVM { ArticleId=Model.Id });
                    <!-- /reply form -->
                </div>
            </main>
            <!-- /Main -->
            <!-- Aside -->
            <aside id="aside" class="col-md-3">
                <!-- Search -->
                <div class="widget">
                    <div class="widget-search">
                        <input class="search-input" type="text" placeholder="search articles">
                        <button class="search-btn" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
                <!-- /Search -->
                <!-- Category -->
                <div id="categorytop"></div>
                <!-- /Category -->
                <!-- Posts sidebar -->
                <div id="popularposts"></div>
                <!-- /Posts sidebar -->
                <!-- Tags -->
                <div id="toptags"></div>
                <!-- /Tags -->
            </aside>
            <!-- /Aside -->
        </div>
        <!-- /Row -->
    </div>
    <!-- /Container -->
</div>
<!-- /Blog -->
<script>
    $(document).ready(function () {
        var articleid = @Model.Id;
        //Load Comments Section after page load
        $("#comments").load("/articles/comments",
            { articleId: articleid });
        $("#categorytop").load("/articles/topcategories");
        $("#popularposts").load("/articles/popularposts");
        $("#toptags").load("/articles/toptags");
        //Count Views and check user Intrest
        $.ajax({
            method: 'post',
            url: '/articles/articleviews',
            data: {
                articleId:articleid
            },
            success: function () {
                console.log("View Counted");
            }
        });
    });
</script>