@model CommonViewModel
@{
    ViewData["Title"] = "Detail";
}

<!-- Blog -->
<div id="blog" class="section">

    <!-- Container -->
    <div class="container">
        <!-- Row -->
        <div class="row">

            <!-- Main -->
            <main id="main" class="col-md-9">
                <div class="blog">
                    <div class="blog-content">
                        <h1 class="xlg-font">@ViewBag.QuestionList.Title</h1>
                        <hr />

                        <div class="row">
                            <div class="col-xs-2 col-md-1">
                                <center>
                                    <form method="post">
                                        <div class="row">
                                            <a href="/Question/UpVote/@ViewBag.QuestionId" id="triangle-up"></a>
                                        </div>
                                        <br /><br />
                                        <div class="row">
                                            <strong class="lg-font">@(ViewBag.QuestionList.Voting != null ? ViewBag.QuestionList.Voting : 0)</strong>
                                        </div>
                                        <br /><br />
                                        <div class="row">
                                            <a href="/Question/DownVote/@ViewBag.QuestionId" id="triangle-down"></a>
                                        </div>
                                    </form>
                                </center>
                            </div>
                            <div class="col-xs-10 col-md-11 ">
                                <p>
                                    @Html.Raw(ViewBag.QuestionList.Description)
                                </p>
                            </div>
                        </div>
                        <!-- blog tags -->
                        <div class="blog-tags">
                            <div class="widget-tags">
                                <a href="#">Web</a>
                                <a href="#">Design</a>
                                <a href="#">Graphic</a>
                                <a href="#">Marketing</a>
                                <a href="#">Development</a>
                            </div>
                            @*<input name='tags' readonly value='@ViewBag.QuestionList.Tags'>*@


                        </div>
                        <!-- blog tags -->
                    </div>

                    <!--Comments -->
                    @foreach (var comment in ViewBag.QuestionList.Comment)
    {<div class="row">
                    <div class="col-xs-6 col-md-8">
                        @comment.Description;
                    </div>
                </div>
}
                    <hr width=100% color="black" />
                    <h6>add a comment</h6>
                    <form method="post">
                        <input asp-for="QACommentsViewModel.UserQuestionId" value="@ViewBag.QuestionId" type="hidden" />
                        <input asp-for="QACommentsViewModel.Description" />
                        <button asp-controller="Question" asp-action="PostComment" class="btn">add a comment</button>
                    </form>
                   

                    <hr width=100% color="black" />
                    @foreach (var answer in ViewBag.QuestionList.Answers)
    {

                <div class="row">
                    <div class="col-xs-6 col-md-8">
                        @Html.Raw(answer.Description)
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <div class="grey-back float-right">
                            <span><i class="fa fa-clock-o"></i>  @answer.Date</span>
                            <br />
                            <img style="height:30px;width:30px;" src="~/images/a.jpg" />
                            <strong>@answer.User</strong>
                        </div>
                    </div>
                </div>
}
                    <h4>Your Answer</h4>
                    <form method="post">
                        <div class="row">
                            <textarea asp-for="QAnswerViewModel.Description"></textarea>
                            <span asp-validation-for="QAnswerViewModel.Description" style="color:red"></span>
                        </div>
                        <input asp-for="QAnswerViewModel.QuestionId" value="@ViewBag.QuestionId" type="hidden" />
                        <button asp-controller="Question" asp-action="PostAnswer" class="main-btn">Post Answer</button>
                    </form>


                </div>
            </main>
            <!-- /Main -->
            <!-- Aside -->
            <aside id="aside" class="col-md-3">

                <button onclick="location.href='@Url.Action("New","Question")'" class="main-btn btn-block">Ask a Question</button>
                <hr />

                <!-- Search -->
                <div class="widget">
                    <div class="widget-search">
                        <input class="search-input" id="searchText" type="text" placeholder="search questions">
                        <button class="search-btn" id="searchButton" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
                <!-- /Search -->
                $(document).ready(function () {
                $('#searchButton').click(function () {
                var text = $('#searchText').val();
                if (text) {
                window.location.href = "/Question/SearchDetails?text=" + text;
                }
                });
                });
                </script>

                <!-- Tags -->
                <div class="widget">
                    <h3 class="title">Tags</h3>
                    <div class="widget-tags">
                        <a href="#">Web</a>
                        <a href="#">Design</a>
                        <a href="#">Graphic</a>
                        <a href="#">Marketing</a>
                        <a href="#">Development</a>
                    </div>
                </div>
                <!-- /Tags -->

            </aside>
            <!-- /Aside -->

        </div>
        <!-- /Row -->

    </div>
    <!-- /Container -->

</div>
<!-- /Blog -->
<script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
<script>
    $(document).ready(function () {
        tinymce.init({
            selector: 'textarea',
            height: 500,
            menubar: false,
            plugins: [
                'advlist autolink lists link image charmap print preview anchor textcolor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table contextmenu paste code help wordcount'
            ],
            toolbar: 'insert | undo redo |  formatselect | bold italic backcolor  | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help',
            content_css: [
                '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
                '//www.tinymce.com/css/codepen.min.css']
        });
    });
</script>
