@model CommonViewModel
@{
    ViewData["Title"] = "Detail";
    if (ViewBag.VoteMsg != null)
    {
        <link rel="stylesheet" href="~/css/toastr.css" />
        <script src="~/js/toastr.js"></script>
        @if (@ViewBag.Color == "success")
        {
            <script>
                toastr.options = {
                    "positionClass": "toast-bottom-right"
                }
                toastr.success("@ViewBag.VoteMsg", "Vote Information");
            </script>
        }
        else if (@ViewBag.Color == "error")
        {
            <script>
                toastr.options = {
                    "positionClass": "toast-bottom-right"
                }
                toastr.error("@ViewBag.VoteMsg", "Vote Information");
            </script>
        }
    }
}
<!-- Blog -->
<div id="blog" class="section">

    <!-- Container -->
    <div class="container">
        <!-- Row -->
        <div class="row">

            <!-- Main -->
            <main id="main" class="col-md-9">
                <div class="blog">
                    <div class="blog-content">
                        <h1 class="xlg-font">@ViewBag.QuestionList.Title</h1>
                        <hr />

                        <div class="row">
                            @* Left Question Vote *@
                            <div class="col-xs-2 col-md-1">
                                <center>
                                    <form method="post">
                                        <div class="row">
                                            <a href="/Question/UpVote/@ViewBag.QuestionId?isQuestion=true&ans=0" id="triangle-up"></a>
                                        </div>
                                        <br /><br />
                                        <div class="row">
                                            <strong class="lg-font">@(ViewBag.QuestionList.Voting != null ? ViewBag.QuestionList.Voting : 0)</strong>
                                        </div>
                                        <br /><br />
                                        <div class="row">
                                            <a href="/Question/DownVote/@ViewBag.QuestionId?isQuestion=true&ans=0" id="triangle-down"></a>
                                        </div>
                                    </form>
                                </center>
                            </div>
                            <div class="col-xs-10 col-md-11" style="word-wrap: break-word;">
                                @Html.Raw(ViewBag.QuestionList.Description)
                            </div>
                        </div>
                        <div class="row">
                            <!-- blog tags -->
                            <div class="blog-tags col-lg-9 col-md-9 col-xs-8">
                                <div class="widget-tags" style="width:auto;">
                                    @*<a href="#">Web</a>
                                    <a href="#">Design</a>
                                    <a href="#">Graphic</a>
                                    <a href="#">Marketing</a>
                                    <a href="#">Development</a>*@
                                    @foreach(var Tags in ViewBag.QuestionList.Tags)
                                    {
                                         <a>@Tags.SkillName</a>                                            
                                    }
                                </div>
                                @*<input name='tags' readonly value='@ViewBag.QuestionList.Tags'>*@
                            </div>
                            <!-- blog tags -->
                            <div style="margin-top:30px; text-align:left;" class="grey-back float-right col-lg-3 col-md-3 col-xs-4">
                                <div class="row">
                                    @if (@ViewBag.QuestionList.UserPic == null)
                    {
                        <img class="pull-left" style="height:40px;width:40px; margin-left:8%;margin-right:1%;" src="~/images/noimg.svg" />
    }
    else
    {
                <img class="pull-left" style="height:40px;width:40px; margin-left:8%;margin-right:1%;" src="@ViewBag.QuestionList.UserPic" />
}

                                    <span><i class="fa fa-clock-o"></i> @ViewBag.QuestionList.PostTime.ToString("yyyy-mm-dd")</span>
                                    <br />
                                    <strong>@ViewBag.QuestionList.PostedBy</strong>

                                </div>


                            </div>
                        </div><!--Row-->
                    </div>
                    <hr width=100% color="black" />
                    <button class="btn-link" id="showComment">add a comment</button>
                    <form id="commentForm" style="display:none;" method="post">
                        <div class="row">
                            <div class="col-sm-10">
                                <input asp-for="QACommentsViewModel.UserQuestionId" value="@ViewBag.QuestionId" type="hidden" />
                                <input asp-for="QACommentsViewModel.Description" placeholder="Use comments to ask for more information or suggest improvements. Avoid answering questions in comments." required />
                            </div>
                            <div class="col-sm-2">
                                <button asp-controller="Question" asp-action="PostComment" onclick="document.getElementById('cmt').style.display=" block" class="btn">Add Comment</button>
                            </div>
                        </div>


                    </form>
                    @* Display Add Comment Form *@
                    <script>
                        $("#showComment").click(function () {
                            document.getElementById('commentForm').style.display = "block";
                        });
                    </script>

                    <!--Comments -->
                    @foreach (var comment in ViewBag.QuestionList.Comment)
    {<div class="row">
                    <div class="col-xs-6 col-md-8">
                        @comment.Description;
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <div class="grey-back float-right">
                            <br />
                            <strong>@comment.PostedBy</strong>
                        </div>
                    </div>
                </div>
}
                    <hr width=100% color="black" />
                    <h4>Answers (1)</h4>
                    <hr width=100% color="black" />
                    @foreach (var answer in ViewBag.QuestionList.Answers)
    {
                <div class="row">
                    @* Left Question Vote *@
                    <div class="col-xs-2 col-md-1">
                        <center>
                            <form method="post">
                                <div class="row">
                                    <a href="/Question/UpVote/@ViewBag.QuestionId?isQuestion=false&ans=@answer.UserQAnswerId" id="triangle-up"></a>
                                </div>
                                <br /><br />
                                <div class="row">
                                    <strong class="lg-font">@(answer.Votes != null ? answer.Votes : 0)</strong>
                                </div>
                                <br /><br />
                                <div class="row">
                                    <a href="/Question/DownVote/@ViewBag.QuestionId?isQuestion=false&ans=@answer.UserQAnswerId" id="triangle-down"></a>
                                </div>
                            </form>
                        </center>
                    </div>
                    <div class="col-xs-10 col-md-11" style="word-wrap: break-word;">
                        @Html.Raw(answer.Description)
                    </div>
                </div>
                <div style="text-align:left;" class="grey-back float-right col-lg-4 col-md-4 col-xs-5">
                    <div class="row">
                        @if (@ViewBag.QuestionList.UserPic == null)
        {
                <img class="pull-left" style="height:40px;width:40px; margin-left:8%;margin-right:1%;" src="~/images/noimg.svg" />
}
else
{
                <img class="pull-left" style="height:40px;width:40px; margin-left:8%;margin-right:1%;" src="@ViewBag.QuestionList.UserPic" />
}

                        <span><i class="fa fa-clock-o"></i>  @answer.Date.ToString("yyyy-MM-dd / hh:mm")</span>
                        <br />
                        <strong>@answer.User</strong>

                    </div>
                </div>
                <br /><br /><br />
                <hr />
}


                    <h4>Your Answer</h4>
                    <form method="post">
                        <div class="row">
                            <textarea asp-for="QAnswerViewModel.Description"></textarea>
                            <span asp-validation-for="QAnswerViewModel.Description" style="color:red"></span>
                        </div>
                        <input asp-for="QAnswerViewModel.QuestionId" value="@ViewBag.QuestionId" type="hidden" />
                        <button asp-controller="Question" asp-action="PostAnswer" class="main-btn">Post Answer</button>
                    </form>


                </div>
            </main>
            <!-- /Main -->
            <!-- Aside -->
            <aside id="aside" class="col-md-3">

                <button onclick="location.href='@Url.Action("New","Question")'" class="main-btn btn-block">Ask a Question</button>
                <hr />
                <p>Viewed: <strong>@ViewBag.QuestionList.Visitors</strong> times</p>
                <!-- Search -->
                <div class="widget">
                    <div class="widget-search">
                        <input class="search-input" id="searchText" type="text" placeholder="search questions">
                        <button class="search-btn" id="searchButton" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
                <!-- /Search -->
                <script>
                    $(document).ready(function () {
                        $('#searchButton').click(function () {
                            var text = $('#searchText').val();
                            if (text) {
                                window.location.href = "/Question/SearchDetails?text=" + text;
                            }
                        });
                    });
            </script>

            <!-- Tags -->
            <div class="widget">
                <h3 class="title">Tags</h3>
                <div class="widget-tags">
                    <a href="#">Web</a>
                    <a href="#">Design</a>
                    <a href="#">Graphic</a>
                    <a href="#">Marketing</a>
                    <a href="#">Development</a>
                </div>
            </div>
            <!-- /Tags -->

            </aside>
            <!-- /Aside -->

            </div>
            <!-- /Row -->

            </div>
            <!-- /Container -->

            </div>
            <!-- /Blog -->
            <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
            <script>
                    $(document).ready(function () {
                                                tinymce.init({
                                                    selector: 'textarea',
                                                    height: 500,
                                                    menubar: false,
                                                    plugins: [
                                                        'advlist autolink lists link image charmap print preview anchor textcolor',
                                                        'searchreplace visualblocks code fullscreen',
                                                        'insertdatetime media table contextmenu paste code help wordcount'
                                                    ],
                                                    toolbar: 'insert | undo redo |  formatselect | bold italic backcolor  | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help',
                                                    content_css: [
                                                        '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
                                                        '//www.tinymce.com/css/codepen.min.css']
                                                });
                                            });
            </script>
