<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - Tech-In</title>
    <link rel="icon" href="~/images/logotop.png" />
    @* ***Meta Tags*** *@
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Add Search Engine Content here..." />
    <meta name="keywords" content="Jobs,Questions,Articles,Friends" />
    <meta name="author" content="Fawad, Hassan and Tayyab" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    @* ***/Meta Tags*** *@

    @* ***StyleSheets***  *@
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round" rel="stylesheet" />
    <!--Reset CSS-->
    <link rel="stylesheet" href="~/css/reset.css" />
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Owl Carousel -->
    <link type="text/css" rel="stylesheet" href="~/css/owl.carousel.css" />
    <link type="text/css" rel="stylesheet" href="~/css/owl.theme.default.css" />

    <!-- Magnific Popup -->
    <link type="text/css" rel="stylesheet" href="~/css/magnific-popup.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="~/css/style.css" />

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <!-- Tagify -->
    <link href="~/css/tagify.css" rel="stylesheet" />
    <script src="~/js/tagify.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="~/js/jQuery.tagify.js"></script>


    <!--[if lt IE 9]>

            <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    @* ***/Stylesheets*** *@

</head>
<body>
    @{

        <!-- Nav -->
        <nav id="nav" class="navbar">
            <div class="container">
                <div class="navbar-header">
                    <!-- Logo -->
                    <div class="navbar-brand">
                        <a asp-area="" asp-controller="Home" asp-action="Index">
                            <img class="logo" src="~/images/logo.png" alt="logo">
                            <img class="logo-alt" src="~/images/logo-alt.png" alt="logo">
                        </a>
                    </div>
                    <!-- /Logo -->
                    <!-- Collapse nav button -->
                    <div class="nav-collapse">
                        <span></span>
                    </div>
                    <!-- /Collapse nav button -->
                </div>
                <!--  Main navigation  -->

                <ul class="main-nav nav navbar-nav">
                    <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Question" ? "active" : "")">
                        <a asp-area="" asp-controller="Question" asp-action="Index">Questions</a>
                    </li>
                    <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Articles" ? "active" : "")">
                        <a asp-area="" asp-controller="Articles" asp-action="Index">Articles</a>
                    </li>
                    <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Job" ? "active" : "")">
                        <a asp-area="" asp-controller="Job" asp-action="Index">Jobs</a>
                    </li>
                    <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "User" ? "active" : "")">
                        <a asp-area="" asp-controller="User" asp-action="Index">Users</a>
                    </li>
                </ul>

                @await Html.PartialAsync("_LoginPartial")
                <!-- /Main navigation -->

            </div>
        </nav>
        <!-- /Nav -->
    }

    @RenderBody()
    <!-- Footer -->
    <footer id="footer" class="sm-padding bg-dark">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">
                <div class="col-md-2 col-xs-6">
                    <ul>
                        <li style="margin-bottom:2%;">
                            <strong>Features</strong>
                        </li>
                        <li>
                            <a class="footer-li-a" href="/Question">
                                Questions
                            </a>
                        </li>
                        <li>
                            <a class="footer-li-a" href="/Articles">
                                Articles
                            </a>
                        </li>
                        <li>
                            <a class="footer-li-a" href="/Job">
                                Jobs
                            </a>
                        </li>
                        <li>
                            <a class="footer-li-a" href="/User">
                                Network
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-2 col-xs-6">
                    <ul>
                        <li style="margin-bottom:2%;">
                            <strong>Platform</strong>
                        </li>
                        <li>
                            <a href="/Home/Policies" class="footer-li-a">
                                Policies
                            </a>
                        </li>
                        <li>
                            <a href="/Home/Terms" class="footer-li-a">
                                Terms
                            </a>
                        </li>
                        <li>
                            <a href="/Home/Faqs" class="footer-li-a">
                                FAQs
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 col-xs-12">
                    <!-- footer logo -->
                    <div class="footer-logo">
                        <a href="/">
                            <img src="~/images/logo-alt.png" alt="logo">
                        </a>
                    </div>
                    <!-- /footer logo -->
                    <div class="center">
                        <img style="height:70px;" src="~/images/logotop.png" alt="">
                    </div>

                    <!-- footer copyright -->
                    <div class="footer-copyright">
                        <p>
                            Copyright © @DateTime.Now.Year
                        </p>
                    </div>
                    <!-- /footer copyright -->

                </div>
                <div class="col-md-2 col-xs-6">
                    <ul>
                        <li style="margin-bottom:2%;">
                            <strong>Company</strong>
                        </li>
                        <li>
                            <a href="/Home/About" class="footer-li-a">
                                About
                            </a>
                        </li>
                        <li>
                            <a href="/Home/Developers" class="footer-li-a">
                                Developers
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-2 col-xs-6">
                    <ul>
                        <li style="margin-bottom:2%;">
                            <strong>Resources</strong>
                        </li>
                        <li>
                            <a href="/Home/Contact" class="footer-li-a">
                                Contact
                            </a>
                        </li>
                        <li>
                            <a href="/Home/Help" class="footer-li-a">
                                Help
                            </a>
                        </li>
                        <li>
                            <a href="/Home/Privacy" class="footer-li-a">
                                Privacy
                            </a>
                        </li>
                        <li>
                            <a href="/Home/Security" class="footer-li-a">
                                Security
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </footer>
    <!-- /Footer -->

    <environment include="Development">
        @*<script src="~/lib/jquery/dist/jquery.js"></script>*@
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        @*<script src="~/js/jquery.min.js"></script>*@
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.js"></script>
        <script src="~/js/owl.carousel.min.js"></script>
        <script src="~/js/jquery.magnific-popup.js"></script>
        <script src="~/js/main.js"></script>
    </environment>
    <environment exclude="Development">
        @*<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
            </script>*@
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.js"></script>
        <script src="~/js/owl.carousel.min.js"></script>
        <script src="~/js/jquery.magnific-popup.js"></script>
        <script src="~/js/main.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
