@model PublicationVM
<script src="~/lib/jquery-validation/dist/additional-methods.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<form id="pubForm">
    @Html.HiddenFor(m => m.UserPublicationId)
    @Html.HiddenFor(m => m.ConferenceOrJournal)
    <!--Title-->
    <div class="form-group">
        <label for="recipient-name" class="control-label">Title:</label>
        @Html.TextBoxFor(m => m.Title, new { @class = "input", @placeholder = "Publication Title..." })
        @Html.ValidationMessageFor(m => m.Title, "", new { @class = "red" })
    </div>
    <!--/Title-->
    <!--Text Area-->
    <div class="form-group">
        <label for="recipient-name" class="control-label">Description:</label>
        @Html.TextAreaFor(m => m.Description, new { @class = "input", @placeholder = "Research Description" })
        @Html.ValidationMessageFor(m => m.Description, "", new { @class = "red" })
    </div>

    <div class="row">
        <div class="col-sm-6">
            <!--Start Date-->
            <div class="form-group">
                <label for="recipient-name" class="control-label">Publication Year:</label>
                <input type="date" class="input" asp-for="PublishYear">
                @Html.ValidationMessageFor(m => m.PublishYear, "", new { @class = "red" })
            </div>
            <!--/Start Date-->
        </div>
    </div>
    <div class="form-group">
        <button id="pubSubmit" type="button" class="main-btn btn-block">
            @if (Model.UserPublicationId > 0)
            {

                <span>Update</span>
            }
            else
            {

                <span>Save</span>
            }
        </button>
    </div>
    <div class="cent" id="loaderDiv">
        <img src="~/images/load.gif" />
    </div>
</form>
<script>$(document).ready(function () {
    //Form Validation
    $('#pubForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            Name: {
                validators: {
                    stringLength: {
                        min: 5,
                        max: 50,
                        message: 'Title can contain minimum 5 and maximum 50 letters'
                    },
                    regexp: {
                        regexp: /^[a-z\s()]+$/i,
                        message: 'Title can contains alphabets only.'
                    },
                    notEmpty: {
                        message: 'Title is required'
                    }
                }
            },
            PublishYear: {
                validators: {
                    notEmpty: {
                        message: 'Publish Year is required'
                    }
                }
            },
            Description: {
                validators: {
                    stringLength: {
                        min: 15,
                        max: 200,
                        message: 'Description can contain minimum 15 and maximum 200 letters'
                    },
                    regexp: {
                        regexp: /^[a-z\s().0-9]+$/i,
                        message: 'Description can contail valid characters only.'
                    },
                }
            },

        }
    });

        //Submit Form
    $("#pubSubmit").click(function () {
        var validator = $('#pubForm').data('bootstrapValidator');
        validator.validate();
        if (!(validator.isValid())) {
            return false;
        }
            
            $("#loaderDiv").show();
            var pubFormData = $("#pubForm").serialize();
            $.ajax({
                type: "POST",
                url: "/User/UpdatePublication",
                data: pubFormData,
                success: function () {
                    $("#loaderDiv").hide();
                    $("#myJPCP").modal("hide");
                    window.location.href = "/User/Index";

                }
            })
        })

    })
</script>
