@model Tech_In.Models.ViewModels.ProfileViewModels.UserListVM

@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/toastr.css" />
<script src="~/js/toastr.js"></script>

<div class="container padding-40">
    <div class="row">
        <div class="col-sm-8">
            @foreach (var item in Model.User)
            {
                <div style="margin-bottom:2%;" class="row">
                    <div class="blog">
                        <div class="blog-img col-sm-4 col-lg-3">
                            <img class="img-thumbnail" style="height:140px;width:140px;float:right;" src="@item.ProfileImage" alt="@item.FirstName">
                        </div>
                        <div class="col-sm-8 col-lg-9">
                            <h3 style="margin-bottom:0px;"><a style="color: black;text-decoration: none;" href="/u/@item.UserName">@item.FirstName @item.LastName </a></h3>
                            @if (item.UserName != ViewBag.UserName)
                            {
                                <div style="float:right;">
                                    <button id="@item.UserName" onclick="addFriend('@item.UserName')" style="padding:5px 15px;" class="main-btn blue-g-btn" type="button"><i class="fa fa-user-plus"></i> Add Friend</button>
                                </div>
                                string can = item.UserName+"c";
                                <div style="float:right;">
                                    <button id="@can" onclick="cancelFriend('@item.UserName')" style="padding:5px 15px; display:none;" class="main-btn blue-g-btn" type="button"><i class="fa fa-user-plus"></i> Cancel Friend Request</button>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="col-sm-1">
        </div>
        <!-- Aside -->
        <aside id="aside" class="col-sm-3">
            <!-- Search -->
            <div class="widget">
                <div class="widget-search">
                    <form asp-action="Index">
                        <input class="search-input" name="search" value="@ViewData["currentFilter"]" type="text" placeholder="search users">
                        <button class="search-btn" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                </div>
            </div>
        </aside>

    </div>
    @{
        var prevDisabled = !Model.User.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.User.HasNextPage ? "disabled" : "";
    }

    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-page="@(Model.User.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @prevDisabled">
        Previous
    </a>
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-page="@(Model.User.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @nextDisabled">
        Next
    </a>
</div>
<script>
var addFriend = function (userName) {
    //alert(userName);
    $.ajax({
        type: "POST",
        url: "/User/AddFriend",
        data: { UserName: userName },
        success: function (result) {
            if (result.success) {
                toastr.options = {
                    "positionClass": "toast-bottom-right"
                }
                toastr.success(result.msg, userName);
                $("#" + userName).hide();
                $("#" + userName + 'c').show();
            } else {
                toastr.options = {
                    "positionClass": "toast-bottom-right"
                }
                toastr.error(result.msg, userName);
            }
        }

    })
    };
    var cancelFriend = function (userName) {
        $.ajax({
            type: "POST",
            url: "/User/CancelFriend",
            data: { UserName: userName },
            success: function (result) {
                if (result.success) {
                    toastr.options = {
                        "positionClass": "toast-bottom-right"
                    }
                    toastr.info(result.msg, userName);
                    $("#" + userName + 'c').hide();
                    $("#" + userName).show();
                } else {
                    toastr.options = {
                        "positionClass": "toast-bottom-right"
                    }
                    toastr.error(result.msg, userName);
                }
            }

        })
    };
</script>